.partners {
    padding: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partners > a:hover {
    filter: invert(31%) sepia(14%) saturate(3395%) hue-rotate(196deg) brightness(91%) contrast(89%);
}

@media (max-width: 950px) {
    .partners {
        padding: 31px 60px 51px;
    }
    .partners > a {
        flex-basis: 30%;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 590px) {
    .partners > a {
        flex-basis: 40%;
    }
}

@media (max-width: 400px) {
    .partners > a {
        flex-basis: 100%;
    }
}