
@import url(./header.css);
@import url(./footer.css);
@import url(./main.productivity.css);
@import url(./main.partners.css);
@import url(./main.app.css);
@import url(./main.about.css);
@import url(./main.customers.css);
@import url(./main.resources.css);
@import url(./main.help.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
    font-family: 'Quicksand', sans-serif;
    /* overflow-x: hidden; */
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h1, h2 {
    font-weight: 300;
    color: #3D4F9F;
    margin-bottom: 28px;
}

h1 > span, h2 > span {
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    color: #3D4F9F;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 10%;
    color: #3D4F9F;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 20%;
    font-size: 16px;
    color: #4074F8;
    margin-bottom: 25px;
}

h6 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 3%;
    line-height: 1.3;
    color: #8E96B7;
}

p.main-text {
    font-weight: 400;
    color: #8D96BD;
    line-height: 191%;
    letter-spacing: 3%;
    font-size: 15px;
}

@media (max-width: 650px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
}